<div class="text-bg-dark py-4">
  <footer class="container py-3">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3" >
      <li class="nav-item">
        <a class="nav-link px-2 link-light" href="https://www.djangoproject.com/" target="_blank">Developed with Django</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 link-light" href="https://github.com/alemontejolp/personal-website" target="_blank">Source on GitHub</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 link-light" href="https://github.com/alemontejolp/personal-website/blob/main/LICENSE" target="_blank">MIT License</a>
      </li>
    </ul>
    <div class="text-center">
      <p>(ɔ) Alexis Montejo</p>
      <p><a class="text-decoration-none link-light" href="https://noemileon.dev/" target="_blank">Inspired by Noemi's Web</a></p>
    </div>
  </footer>
</div>
