<div class="text-bg-dark py-4">
  <footer class="container py-3">
    <!-- <p class="m-0">Author: Alexis Montejo | Developed with: Django | Source: GitHub | Lisence: MIT</p> -->
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a class="nav-link px-2" href="https://www.djangoproject.com/" target="_blank">Developed with Django</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" href="" target="_blank">Source on GitHub</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" href="" target="_blank">MIT Lisence</a>
      </li>
    </ul>
    <div class="text-center">
      <p>(ɔ) Alexis Montejo</p>
      <p><a class="text-decoration-none" href="https://noemileon.dev/" target="_blank">Inspired by Noemi's Web</a></p>
    </div>
  </footer>
</div>
