{% extends "main/base.html" %}

{% block title %} Project details {% endblock %}

{% block custom-imports %}
{% load static %}
<link rel="stylesheet" href="{% static 'aboutme/css/projects.css' %}">
<!-- <script src="{% static 'aboutme/js/about_me.js' %}"></script> -->
{% endblock %}

{% block content %}
<div class="container">
  <!-- <h4 class="text-center mt-5">Public Projects</h4> -->
  <section class="my-5">
    {{ project.content | safe }}
  </section>
</div>
{% include 'main/footer.html' %}
{% endblock %}
